body{
    background-color: black; 
    color:#cfcdc8;
    font-family: 'Khula',Arial,sans-serif;
}

h1{
    color: #e84a4a;
    font-size: 6vw;
    padding-top: 4vw;
    font-family: 'Manrope',Arial,sans-serif;
}
.flex-container{
    display: flex;
}
.flex-container > div{
    align-self: center;
}
@media screen and (max-width: 500px){

    #fiesta1{
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        max-width: 100%;
    }
    nav{
        display: flex;
        justify-content: center;
    }
    nav li{
        display: flex;
    }
    nav li a{
        display: block;
        color: white;
        text-decoration: none;
        padding: 1vw 2vw;
        text-align: center;
    }
} 

#fiesta1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

nav li{
    float: left;
}

nav li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 1vw 2vw;
    text-align: center;
    position: sticky;
}
nav{
    margin-left: 16vw;
}
h2{
    text-align:center;
}
.album{
    display: flex;
    flex-wrap: wrap;
}
.album > div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
.pie{
    display: flex;
    background-color: #0d121a;
}
