body{
    background-color: black; 
    color:#cfcdc8;
    font-family: 'Khula',Arial,sans-serif;
}

h1{
    color: #e84a4a;
    font-size: 6vw;
    padding-top: 4vw;
    font-family: 'Manrope',Arial,sans-serif;
}
.flex-container{
    display: flex;
}
.flex-container > div{
    align-self: center;
}
@media screen and (max-width: 750px){

    #fiesta1{
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        max-width: 100%;
    }
    #encabezado{
        display: flex;
        flex-direction: column;
    }
}

#fiesta1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
nav{
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    margin: 0 auto;
}

#encabezado{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display:inline-block;
    margin-right: 10px;
}

nav li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 1vw 2vw;
    text-align: center;
}

nav li a:hover, nav li a.active {
  background-color: #333;
}

h2{
    text-align:center;
    font-size: 190%;
}
.album{
    display: flex;
    flex-wrap: wrap;
}
.album > div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
    position: relative;
}
.precioIndividual{
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1vw;
}
.pie{
    display: flex;
    background-color: #0d121a;
}
.pie > div > p{
    margin:1%
}
.chango{
    width: 5vw;
}
.sticky{
    text-align: center;
    position:fixed;
    background: #5c5a5a;
    z-index: 2;
    transform: translateX(90vw);

}
.chango {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  
.chango svg{
    width: 4vw;
    height: 3vw;
}

  .total {
    font-size: 2vw;
    text-align: center;
  }
.producto{
    display: flexbox;
    flex-direction: column;
}