body{
    background-color: black; 
    color:#cfcdc8;
    font-family: 'Khula',Arial,sans-serif;
}

h1{
    color: #e84a4a;
    font-size: 6vw;
    padding-top: 4vw;
    font-family: 'Manrope',Arial,sans-serif;
}
.flex-container{
    display: flex;
}
.flex-container > div{
    align-self: center;
}


#fiesta1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
nav{
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    margin: 0 auto;
}

#encabezado{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display:inline-block;
    margin-right: 10px;
}

nav li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 1vw 2vw;
    text-align: center;
}

nav li a:hover, nav li a.active {
  background-color: #333;
}

h2{
    text-align:center;
    font-size: 190%;
}
.album{
    display: flex;
    flex-wrap: wrap;
}
.album > div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
    position: relative;
}
.precioIndividual{
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1vw;
}

.pie{
    display: flex;
    background-color: #0d121a;
}
.pie > div > p{
    margin:1%
}
.chango{
    width: 5vw;
}
.sticky{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position:fixed;
    top: 0.5%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}
.sticky > div{
    flex: 1 1 auto;
    margin: 1%;
}
.chango {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  
.chango svg{
    width: 30%;
    height: 20%;
}

.total {
    font-size: 100%;
    text-align: center;
}
.finalizarCompraBtn{
    background-color: #414040;
    font-size: 100%;
    padding: 0.7vw;
    color: whitesmoke;
    text-align: center;
    border: none;
}
#vaciarCarritoBtn{
    background-color: #414040;
    font-size: 100%;
    color: whitesmoke;
    border: none;

}

.producto{
    display: flexbox;
    flex-direction: column;
}
.addToCartBtn{
    background-color: #414040;
    font-size:100%;
    padding: 0.7vw;
    color: whitesmoke;
    margin: 10px;
    position: absolute;
    top: 85%;
    left: 30%;
    text-align: center;
}
.addToCartBtn:hover{
    background-color: #cfcdc8;
    border: 2px solid black;
    color: #414040;
}
.volverInicioBtn{
    background-color: #414040;
    font-size: 100%;
    color: whitesmoke;
    text-align: center;
    border: none;
    margin: 10px
}
.volverInicioBtn:hover{
    color: #e84a4a;
}
form{
    text-align: center;
}

.enviar{
    background-color: #414040;
    font-size: 100%;
    padding: 0.7vw;
    color: whitesmoke;
    text-align: center;
    border: none;
}
@media screen and (max-width: 800px){
    #fiesta1{
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        max-width: 80%;
    }
    #encabezado{
        display: flex;
        flex-direction: column;
    }
    .album > .producto > div > img{
        max-width: 250px;
        max-height: 250px;
        margin-bottom: 1px;
    }
    .addToCartBtn{
        top: 80%;
    }
}
